---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";

const assets = (await getCollection("assets")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const resources = await getCollection("resources");
const resource = resources.find((resource) => resource.id === "assets");
---

<Layout
  title={resource?.data.title || ""}
  description={resource?.data.description || ""}
>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          Assets
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {
            assets.map((asset) => (
              <li>
                <ArrowCard entry={asset} />
              </li>
            ))
          }
        </ul>
      </div>
    </aside>
  </Container>
</Layout>
