---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Contacts from "@components/Contacts.astro";
import FeaturedContents from "@components/FeaturedContents.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const featuredProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft && project.data.featured)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const resources: CollectionEntry<"resources">[] =
  await getCollection("resources");
const assets: CollectionEntry<"assets">[] = await getCollection("assets");
const featuredResources = [...resources, ...assets]
  .filter((item) => item.data.featured)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={SITE.TITLE} description={SITE.DESCRIPTION} type="website">
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        {
          t("home.intro.1", {
            title: SITE.TITLE,
          })
        }
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                {t("home.intro.2")}
              </p>
              <p>
                {t("home.intro.3")}
              </p>
            </span>
            <span class="animate">
              <p>
                Most of these resources focus on <strong
                  >game development</strong
                >, particularly with the
                <Link href="https://godotengine.org/">Godot Engine</Link>, my
                go-to technology for building games (and yes, I love it! 🥰).
              </p>
              <p>
                Feel free to dive in by exploring the <Link href="/projects"
                  >Projects</Link
                >
                and <Link href="/resources">Resources</Link> sections, or check out
                some of the featured content below to get started!
              </p>
            </span>
          </article>
        </section>
        <FeaturedContents
          title={t("featured.content", {
            content: t("content.resources"),
          })}
          contents={featuredResources}
          collection="resources"
        />
        <FeaturedContents
          title={t("featured.content", {
            content: t("content.projects"),
          })}
          contents={featuredProjects}
          collection="projects"
        />
        <Contacts />
      </div>
    </aside>
  </Container>
</Layout>
