---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { RESOURCES } from "@consts";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const resources = (await getCollection("resources")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title={RESOURCES.TITLE} description={RESOURCES.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          {t("content.resources")}
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {
            resources.map((resource) => (
              <li>
                <ArrowCard entry={resource} />
              </li>
            ))
          }
        </ul>
      </div>
    </aside>
  </Container>
</Layout>
