---
import type { CollectionEntry } from "astro:content";
import ArrowRight from "../icons/arrow-right.svg";

type Props = {
  entry:
    | CollectionEntry<"blog">
    | CollectionEntry<"projects">
    | CollectionEntry<"resources">
    | CollectionEntry<"assets">
    | CollectionEntry<"godot2dTopdownTemplate">;
};

const { entry } = Astro.props as {
  entry:
    | CollectionEntry<"blog">
    | CollectionEntry<"projects">
    | CollectionEntry<"resources">
    | CollectionEntry<"assets">
    | CollectionEntry<"godot2dTopdownTemplate">;
};
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class="not-prose group relative flex flex-nowrap rounded-lg border border-black/15 px-4 py-3 pr-10 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
>
  <div class="flex flex-1 flex-col truncate">
    <div class="font-semibold text-secondary-light dark:text-secondary-dark">
      {entry.data.title}
    </div>
    <div class="text-sm">
      {entry.data.description}
    </div>
  </div>
  <ArrowRight />
</a>
