---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
import ThemeButtons from "./ThemeButtons.astro";
import Link from "./Link.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute -top-12 right-0">
        <BackToTop />
      </div>
      <span class="absolute -top-12 left-0">
        <Link href="https://ko-fi.com/stesproject">
          <img
            src="https://cdn.ko-fi.com/cdn/kofi1.png?v=3"
            alt="ko-fi"
            width="145px"
          />
        </Link>
      </span>
    </div>
    <div class="flex items-center justify-between">
      <span class="mb-4">
        &copy; {new Date().getFullYear()} • {SITE.TITLE} | Made by {SITE.AUTHOR}
      </span>
      <ThemeButtons />
    </div>
  </Container>
</footer>
