---
const { repoName, repoId, categoryId } = Astro.props;

const repo = `stesproject/${repoName}`;

// repoName: "alchemy-pot-website"
// repoId: "R_kgDONs2sTg"
// categoryId: "DIC_kwDONs2sTs4CmSRv"
---

<div class="giscus"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo={repo}
  data-repo-id={repoId}
  data-category="Announcements"
  data-category-id={categoryId}
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
