---
import Container from "@components/Container.astro";
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
import Search from "./Search.astro";
---

<header transition:persist class="h-fit">
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2 h-full">
      <Logo />
      <div class="flex flex-wrap gap-2 items-center">
        <Navigation />
        <Search />
      </div>
    </div>
  </Container>
</header>
