---
import Link from "./Link.astro";
import LogoIcon from "..//icons/logo.svg";
---

<Link href="/" underline={false}>
  <div
    class="font-semibold opacity-80 transition-opacity duration-300 ease-in-out hover:opacity-100"
  >
    <LogoIcon id="logo" class="h-8 lg:h-12" />
  </div>
</Link>
