---
import Link from "./Link.astro";
---

<Link href="/" underline={false}>
  <div
    class="font-semibold opacity-80 transition-opacity duration-300 ease-in-out hover:opacity-100"
  >
    <img
      src="/alchemy-pot-logo.png"
      alt="Logo"
      id="logo"
      class="absolute h-8 lg:h-12"
    />
    <img src="/ap-below.png" alt="Logo" class="absolute h-8 lg:h-12" />
  </div>
</Link>
