---
import Link from "@components/Link.astro";
import { NAVIGATION } from "@consts";

// Does not work.
// const currentPath = Astro.url.pathname;
// const isActive = (href: string) => currentPath.includes(href.toLowerCase());
---

<nav class="flex items-center gap-1">
  {
    NAVIGATION.map((item, index) => (
      <>
        <div class="nav">
          <Link href={item.href}>
            {item.title}
          </Link>
        </div>
        {index < NAVIGATION.length - 1 && <span>{``}</span>}
      </>
    ))
  }
  <slot />
</nav>
