---
import Link from "@components/Link.astro";

const NAVIGATION = [
  {
    title: "Projects",
    href: "/projects",
  },
  {
    title: "Resources",
    href: "/resources",
  },
];
---

<nav class="flex items-center gap-1">
  {
    NAVIGATION.map((item, index) => (
      <>
        <Link href={item.href}>{item.title}</Link>
        {index < NAVIGATION.length - 1 && <span>{` `}</span>}
      </>
    ))
  }
  <slot />
</nav>
